<div id="page">
    <!--Header-->
<app-header></app-header>
    <!--Header-->
    
    <div class="main-container">
   		<div class="container">
        	<div class="page-wrapper clearfix">
            	<div class="body-content">
                    <div class="contact-wrap">
                        <div class="row">
                            <div class="col-sm-7">
                                <h3>Get in Touch</h3>
                                <p class="lead">If you have questions or comments regarding:</p>
                                <div class="contact-form">
                                    <form>
                                        <div class="masg-box">
                                            <textarea class="form-control" placeholder="Write your message here."></textarea>
                                        </div>
                                        <div class="name-row clearfix">
                                            <div class="name-box">
                                                <input type="text" class="form-control" placeholder="Full Name">
                                            </div>
                                            <div class="email-box">
                                                <input type="email" class="form-control" placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="submit-row clearfix">
                                            <div class="captcha-box">
                                                <img src="assets/images/contact-captcha.png" alt="" class="img-rasponsive">
                                            </div>
                                            <div class="submit-box">
                                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="email-contact">
                                    <h3><i class="fa fa-envelope-o"></i> Or by Email</h3>
                                    <ul class="clearfix">
                                        <li>
                                            <p><strong>For advertising inquiries:</strong></p>
                                            <a href="mailto: advertising@maugans.com">advertising@maugans.com</a>
                                        </li>
                                        <li>
                                            <p><strong>For partnership inquiries:</strong></p>
                                            <a href="mailto: partners@maugans.com">partners@maugans.com</a>
                                        </li>
                                        <li>
                                            <p><strong>For support or technical inquiries:</strong></p>
                                            <a href="mailto: support@maugans.com">support@maugans.com</a>
                                        </li>
                                        <li>
                                            <p><strong>For press inquiries:</strong></p>
                                            <a href="mailto: press@maugans.com">press@maugans.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="spacing">
                                    <div class="map-dot">
                                      <span class="point">
                                        <span class="pulse"></span>
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.body-content-->
            </div>
        </div>
    </div>
    <!--/.main-container-->
    
<app-footer></app-footer>
    <!-- /.graphic-footer -->
    
</div>
<!--/#page-->

<!-- Message Box -->
<div class="modal fade msg-box" id="MessageBox" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="msg-inbox conv-activity" style="display:block">
            <div class="flexbox-parent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <button type="button" class="btn-conv" title="New Message"></button>
                </div>
                <div class="fill-area flexbox-item-grow">
                    <div class="fill-area-content">
                        <div class="flexbox-scroll">
                            <div class="msg-conversations">
                              <ul>
                                  <li>
                                      <div class="conv-item unread clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-05.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum. Lacinia arcu ut, porta neque elementum lorem eros...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">North Hero</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item unread clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-02.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Robert Lee</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum. Lacinia arcu ut...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-05.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum. Lacinia arcu ut, porta neque elementum lorem eros...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item unread clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item unread clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-02.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum. Lacinia arcu ut...</p>
                                        </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.msg-inbox-->
        <div class="msg-write conv-activity" style="display:none">
            <div class="flexbox-parent">
                <div class="modal-header">
                    <a href="#" class="conv-back"></a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="fill-area flexbox-item-grow user-list-box">
                   <div class="fill-area-content">
                       <label class="control-label">Send message to:</label>
                       <div class="form-group find-user-drop">
                        <input type="text" class="form-control">
                       </div>
                       <label class="control-label">Recent</label>
                   </div>
               </div>
               <div class="fill-area flexbox-item-grow">
                    <div class="fill-area-content">
                        <div class="flexbox-scroll">
                            <div class="user-drop-list">
                   
                   <div class="list-block">
                       <ul>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-01.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-02.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-03.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-04.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-05.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-01.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-02.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-03.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                       </ul>
                   </div>
               </div>
                        </div>
                    </div>
                </div>
                <div class="flexbox-footer">
                    <div class="msg-go-next text-right">
                       <button type="button" class="btn btn-primary">Next</button>
                   </div>
                </div>
            </div>
        </div>
        <!--/.msg-write-->
        <div class="chat-area conv-activity" style="display:none">
            <div class="flexbox-parent">
                <div class="modal-header">
            <a href="#" class="conv-back"></a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="header-thumb-area">
                <div class="user-row">
                  <div class="user-thumb imageFit">
                      <img src="assets/images/user-01.jpg" alt="">
                  </div>
                  <div class="user-name">Stupid Monkey</div>
                  <div class="user-action">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Report"><i class="fa fa-flag-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Block"><i class="fa fa-ban"></i></a>
                </div>
              </div>
            </div>
          </div>
                <div class="fill-area flexbox-item-grow">
                    <div class="fill-area-content">
                        <div class="flexbox-scroll">
                            <div class="chat-window">
                              <div class="inner-chat">
                                  <div class="chat-row send">
                                      <div class="chat-body">
                                          <div class="chat-txt">
                                              <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum.</p>
                                          </div>
                                          <div class="chat-thumb">
                                              <a hrrf="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row received">
                                      <div class="chat-body">
                                         <div class="chat-thumb">
                                              <a hrrf="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="chat-txt">
                                              <p>Beautiful photo aliquam eu augue pharetra...</p>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row send">
                                      <div class="chat-body">
                                          <div class="chat-txt">
                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin libero enim, luctus ac ante at, porta egestas sem. Curabitur laoreet ut sem at rhoncus. Duis ac malesuada mauris. Praesent quam nunc, tempus in mauris at, posuere lacinia neque.</p>
                                          </div>
                                          <div class="chat-thumb">
                                              <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row received">
                                      <div class="chat-body">
                                         <div class="chat-thumb">
                                              <a hrrf="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="chat-txt">
                                              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla id diam id odio dictum efficitur. Cras ac eros massa. Duis purus libero, dapibus vitae sollicitudin quis, pellentesque id lacus. Quisque tempus tellus vitae elit efficitur elementum. Quisque lacinia mattis ante ut volutpat. Donec dignissim nisl eros, non consequat odio rutrum lobortis. Integer vitae pretium quam.</p>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row send">
                                      <div class="chat-body">
                                          <div class="chat-txt">
                                              <p>Nunc auctor imperdiet urna, eget ullamcorper elit ultricies finibus.</p>
                                          </div>
                                          <div class="chat-thumb">
                                              <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row received">
                                      <div class="chat-body">
                                         <div class="chat-thumb">
                                              <a hrrf="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="chat-txt">
                                              <p>Vestibulum arcu libero, convallis nec purus nec, posuere laoreet justo. Phasellus ac nulla pellentesque, commodo dui id, aliquam erat. Ut fermentum luctus ipsum sit amet vehicula.</p>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="flexbox-footer">
                    <div class="msg-go-next text-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <textarea class="form-control chat-txtarea"></textarea>
                                <span class="attach-icons">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Attach Diamonds"><i class="fa fa-diamond"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Attach a Sticker"><i class="fa fa-sun-o" aria-hidden="true"></i></a>
                                </span>
                                <button type="button" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <!--/.chat-area-->
    </div>
  </div>
</div>
<!-- // Message Box -->

<!-- Buy Sticker Modal -->
<div class="modal fade tip-modal" id="BuySticker" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="tip-icon"></span>
            <h4 class="modal-title">Buy More Diamonds!</h4>
          </div>
          <div class="modal-body">
            <div class="price-checkbox">
                <div class="check-block">
                    <label>
                        <input type="radio" name="diamondprice">
                        <div class="label-txt">
                            <span class="dia"><strong>125</strong> diamonds</span>
                            <span class="dm-more"><span>34%</span>More</span>
                            <span class="price">$9.99</span>
                        </div>
                    </label>
                </div>
                <div class="check-block">
                    <label>
                        <input type="radio" name="diamondprice" checked="">
                        <div class="label-txt">
                            <span class="dia"><strong>325</strong> diamonds</span>
                            <span class="dm-more"><span>30%</span>More</span>
                            <span class="price">$19.99</span>
                        </div>
                    </label>
                </div>
                <div class="check-block">
                    <span class="popu-tag"></span>
                    <label>
                        <input type="radio" name="diamondprice">
                        <div class="label-txt">
                            <span class="dia"><strong>1000</strong> diamonds</span>
                            <span class="dm-more"><span>50%</span>More</span>
                            <span class="price">$49.99</span>
                        </div>
                    </label>
                </div>
                <div class="check-block">
                    <label>
                        <input type="radio" name="diamondprice">
                        <div class="label-txt">
                            <span class="dia"><strong>2500</strong> diamonds</span>
                            <span class="dm-more"><span>20%</span>More</span>
                            <span class="price">$99.99</span>
                        </div>
                    </label>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
                <div class="col-xs-7">
                    <div class="paypal-logo">
                        <img src="assets/images/paypal-logo.png" alt="">
                    </div>
                </div>
                <div class="col-xs-5">
                    <button type="button" class="btn btn-success btn-lg btn-block">Pay Now!</button>
                </div>
            </div>
        </div>
        <div class="tip-info text-center">
            <p>Diamonds can be purchased or <a href="cms.html" target="_blank">earned</a>. No cash value. No refunds.</p>
        </div>
    </div>
  </div>
</div>