<div id="page">
    <!--Header-->
    <app-main-header></app-main-header>
    <!--Header-->
    
    <router-outlet></router-outlet>
    
    <app-main-footer></app-main-footer>
    <!-- /.graphic-footer -->
    
</div>
<!--/#page-->


<!-- Attach Sticker -->
<div class="modal fade modal-sticker" id="AttachSticker" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Your Sticker Collection</h4>
      </div>
      <div class="st-header text-center">
          <h3>You own 74 stickers!</h3>
          <p>3/48 completed sheets</p>
      </div>
      <!-- Sticker tabs -->
      <div class="sticker-tab-panel">
         <div class="st-block">
            
            <div class="st-recent-box">
                <div class="box-heading"><span class="text-uppercase">Recent</span></div>
                <div class="st-recent-listing">
                    <ul class="st-recent-ul">
                        <li>
                            <div class="badge-block">
                                <div class="sticker-01 st-4-msg">
                                    <img src="assets/images/sticker-01.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-02 st-4-msg">
                                    <img src="assets/images/sticker-02.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-03 st-4-msg">
                                    <img src="assets/images/sticker-03.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-01 st-4-msg">
                                    <img src="assets/images/sticker-01.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-02 st-4-msg">
                                    <img src="assets/images/sticker-02.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-03 st-4-msg">
                                    <img src="assets/images/sticker-03.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-01 st-4-msg">
                                    <img src="assets/images/sticker-01.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-02 st-4-msg">
                                    <img src="assets/images/sticker-02.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-03 st-4-msg">
                                    <img src="assets/images/sticker-03.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
             <div class="sticker-list">
                <ul class="list-group clearfix">
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-01.png" alt="">
                            </div>
                            <span class="st-counter">7/85</span>
                        </div>
                        <div class="st-title">Sheet Title 1</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-02.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Amet porttitor nec massa</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-03.png" alt="">
                            </div>
                            <span class="st-counter">4/12</span>
                        </div>
                        <div class="st-title">Sheet Title 3</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-01.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 4</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-02.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 5</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-03.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 6</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-01.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 7</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-02.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 8</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-03.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 9</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-01.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 10</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-02.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 11</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-03.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 12</div>
                    </li>
                </ul>
            </div>
         </div>
          
        <div class="st-block">
            <div class="st-single-block">
                <div class="st-breadcrumb">
                    <span class="st-back"><i class="fa fa-angle-left"></i> Back</span>
                    <h4 class="st-single-title">Sheet Title</h4>
                </div>
                <div class="sticker-list">
                <ul class="list-single clearfix">
                    <li>
                        <div class="sticker-box st-4-msg">
                            <img src="assets/images/sticker-01.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-4-msg">
                            <img src="assets/images/sticker-02.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-4-msg">
                            <img src="assets/images/sticker-03.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-gray st-store-link">
                            <img src="assets/images/sticker-01.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-gray st-store-link">
                            <img src="assets/images/sticker-02.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-gray st-store-link">
                            <img src="assets/images/sticker-03.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
      </div>
      <!-- // Sticker tabs -->

      <div class="st-store-pop">
          <div class="row">
              <div class="col-sm-8">
                  <div class="store-msg">Visit the store to get more stickers?</div>
              </div>
              <div class="col-sm-4">
                <div class="store-btns">
                  <a href="#" class="btn btn-default btn-st-cancel">No</a>
                  <a href="#" class="btn btn-success" target="_blank">Yes</a>
                </div>
              </div>
          </div>
      </div>

      <div class="modal-footer">
       <div class="row">
           <div class="col-xs-6 text-left">
               <a href="#" class="btn btn-primary" target="_blank">Get More Stickers</a>
           </div>
           <div class="col-xs-6 text-right">
               <button type="button" class="btn btn-success st-attach-btn"><i class="fa fa-paperclip" style="margin-right:3px"></i> Attach</button>
           </div>
       </div>
      </div>
    </div>
  </div>
</div>
<!-- // Attach Sticker -->

<!-- Following Modal -->
<div id="FollowingModal" class="modal fade modal-follow" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Following People</h4>
      </div>
        <div class="follow-list">
            <ul>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Robert Lee</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-02.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Cristina Griffith</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">James Martinez</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-04.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Peter White</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Robert Lee</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-02.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Cristina Griffith</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">James Martinez</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-04.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Peter White</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li><li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Robert Lee</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-02.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Cristina Griffith</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">James Martinez</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
                <li>
                    <div class="prople-row">
                      <div class="user-thumb imageFit">
                          <a href="#"><img src="assets/images/user-04.jpg" alt=""></a>
                      </div>
                      <div class="user-name"><a href="#">Peter White</a></div>
                      <div class="act-btns">
                          <button type="button" class="btn btn-primary"><span class="icon-holder"><i class="fa fa-check"></i></span> Following</button>
                          <button type="button" class="btn btn-success"><span class="icon-holder"><i class="fa fa-envelope"></i></span> Message</button>
                      </div>
                  </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>


