    <footer class="graphic-footer">
      <div class="footer-top">
        <div class="container">
          <div class="graphic-figures">
            <span class="foot-fig figu-01"></span>
            <span class="foot-fig figu-02"></span>
            <span class="foot-fig figu-03"></span>
            <span class="foot-fig figu-04"></span>
            <span class="foot-fig figu-05"></span>
            <span class="foot-fig figu-06"></span>
            <span class="foot-fig figu-07"></span>
            <span class="foot-fig figu-08"></span>
          </div>
          <div class="footer-signup">
              <h3><strong>Sign Up</strong> For Our Weekly Newsletter</h3>
                <div class="signup-form">
                    <div class="input-group">
                      <input class="form-control" placeholder="Email Address" type="text">
                      <span class="input-group-btn">
                        <button class="btn" type="button">Sign Up</button>
                      </span>
                    </div>
              </div>
            </div>
            <div class="divide-nav">
              <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Popular Wallpapers</a></li>
                  <li><a href="#">Popular Tags</a></li>
                  <li><a routerLink="cms">Community Stats</a></li>
                  <li><a href="#">Member List</a></li>
                  <li><a routerLink="contact">Contact Us</a></li>
              </ul>
            </div>
            <div class="footer-mascot">
              <div class="circle-social">
                <a href="#" target="_blank" class="icon-fb" data-toggle="tooltip" data-placement="left" title="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" class="icon-tw" data-toggle="tooltip" data-placement="left" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank" class="icon-pin" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="#" target="_blank" class="icon-linked" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#" target="_blank" class="icon-gplus" data-toggle="tooltip" data-placement="right" title="GooglePlus"><i class="fa fa-google-plus"></i></a>
                <a href="#" target="_blank" class="icon-bee" data-toggle="tooltip" data-placement="right" title="Forumbee"><i class="fa fa-forumbee"></i></a>
              </div>
              <div class="foot-fig footer-mascot-figure"></div>
              <div class="wooden-stand">
                <a href="#" class="store-link">Visit Dn Store</a>
              </div>
            </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <span class="foot-fig figu-09"></span>
          <span class="foot-fig figu-10"></span>
          <span class="foot-fig figu-11"></span>
          <span class="foot-fig figu-12"></span>
          <div class="footer-nav">
              <ul>
                  <li><a (click)="navigate('policy')">Privacy Policy</a></li>
                  <li><a (click)="navigate('term')">Terms of Service</a></li>
                  <li><a href="#">Partnerships</a></li>
                  <li><a href="#">DMCA Copyright Violation</a></li>
              </ul>
          </div>
          <div class="copyright">&copy; 2016 Desktop Nexus - All rights reserved.</div>
          <div class="server-info">Page rendered with 9 queries (and 0 cached) in 0.113 seconds from server -72.</div>
        </div>
      </div>
    </footer>