<div id="page">
    <!--Header-->
    <app-header></app-header>
    <!--Header-->
    
    <div class="main-container">
        <div class="cms-header">
            <div class="container">
                <h3 class="page-title">Private Policy</h3>
            </div>
        </div>
        <!--/.group-header-->
        

   		<div class="container">
        	<div class="page-wrapper clearfix">
            	<div class="body-content">
                    <div class="cmc-content">
                        <h4>Introduction</h4>
                        Desktop Nexus and it parent companies and their affiliates (collectively, "Desktop Nexus") respect the privacy of the visitors to this web site and any co-branded, mirrored, or successor sites (the "Website") and are committed to protecting their privacy. Desktop Nexus has established this Privacy Policy Statement to inform you of our policies and practices regarding how we collect personal identifiable information from you, how we use and disclose it, and your rights with respect to such information. By using this Website, you acknowledge and agree to the terms and conditions of this Desktop Nexus Privacy Policy Statement ("Privacy Policy"). If you do not agree to these terms and conditions, please do not use this Website.
                        
                        We reserve the right to change or modify our privacy practices that are described herein from time to time simply by posting a revised Privacy Policy on this Website. Any such change shall be effective immediately upon posting of the revised Privacy Policy on this Website. We reserve the right to make the revised or changed Privacy Policy effective for information we already have about you, as well as any information we receive in the future. We encourage you to refer to this Privacy Policy on an ongoing basis so that you understand our current privacy practices.
                        
                        <h4>Privacy Policy</h4>
                        
                        Like many websites, we gather information about how visitors use this Website. In general, you can visit many of the web pages on this Website without telling us who you are or revealing any personal information about yourself. We, however, may track your Internet Protocol (IP) address and other anonymous information from your web browser for trends and statistics (including, but not limited to, browser version, pages requested and pages visited), but you will remain anonymous unless you provide us with personal information during your visit to this Website or during an earlier or subsequent visit and we are able to link your IP address between your current visit and one of these other visits.
                        
                        We also work with service providers who use tracking technologies to serve ads across the Internet or track email communication response rates on our behalf. These companies may collect personal informationabout your visits to this Website and your interaction with our communications, including advertising.
                        
                        In addition to anonymous information, we also collect personal information from you at this Website when you voluntarily submit it to us. We request personal information from you (which may include your name, address, telephone number, email address, gender, year of birth, and when necessary, credit card information) when you:
                        
                            * Complete a registration, survey, application or other form;<br>
                            * Purchase a product or service from us or from one of our vendors, suppliers or other agents;<br>
                            * Sign-up to receive email newsletters or other correspondence;<br>
                            * Participate in a promotion, contest, sweepstakes or similar promotional activity;<br>
                            * Submit materials to our Website;<br>
                            * Request a catalog or other materials from us; and/or<br>
                            * Request e-mail, fax, mail, or telephone support or services.<br>
                        <br>

                        We also collect information about your activities on and through this Website from our third party business partners, suppliers, vendors and other agents.
                        
                        You may choose not to provide us with any personal information. In such event, you can still access and use many portions of this Website; however, you will not be able to access and use those portions of this Website or the services available on or through this Website that require your personal information.
                        
                        <h4>Advertising / Online Tracking</h4>
                        
                        Desktop Nexus may use online advertising networks to serve ads on third-party websites.  You can opt out of receiving targeted ads from many websites by using the opt-out tools available through some browser settings ("Do Not Track") or via the AdChoices icon on any advertisements.  Please note that if you opt out, you may still receive online advertising, but the ads that you receive will be generic and not based on your online preferences or behavior.
                        
                        <h4>Your Consent</h4>
                        
                        As a condition to using the Desktop Nexus, we require your approval to collect this data. By visiting Desktop Nexus or any of our affiliated sites, you agree that our company may collect and use this information as stated in this privacy policy. If we change this privacy policy, we will post the changes on this page.
                        
                        <h4>Using Information</h4>
                        
                        We may use the information we collect to:
                        
                            * Customize and/or personalize your communications, surfing, viewing and/or shopping experience;<br>
                            * Better respond to your customer service inquiries;<br>
                            * Communicate with you about your purchase, account information, or customer service needs;<br>
                            * Communicate with you about our products and events, and for other promotional purposes;<br>
                            * Improve our business;<br>
                            * Administer contests, promotions, surveys or other website features;<br>
                            * Provide technical support to you; and<br>
                            * Perform any other lawful acts except for those acts expressly prohibited by the terms and conditions set forth herein.<br>
                        <br>

                        <h4>Sharing Information</h4>
                        
                        Except as expressly set forth herein, we do not loan, give away, sell, distribute or rent your personal information to any third party.
                        
                        We will disclose your personal information to third parties if you have previously consented to such disclosures and in special circumstances, including, but not limited to, the sale of Desktop Nexus; the due diligence in connection with a potential sale of Desktop Nexus; any bankruptcy, insolvency or liquidation of Desktop Nexus, or in other similar circumstances.
                        
                        For the purpose of operating our business and providing you with certain services and products and to process your purchases, shipments and payments, we may disclose your personal information to one or more of our business partners, distributors, suppliers, affiliates, service providers or other third parties who are assisting Desktop Nexus in performing such services. Without limiting the foregoing, these third parties may provide Desktop Nexus with credit card processing, shipping, data management, email distribution, live text chat, email response, market research, information analysis, and promotions management services. We provide such parties with the personal information they need to perform their respective services and we use commercially reasonable efforts to require them to safeguard your personal information and limit their use of it.
                        
                        We also may provide your personal information to other Desktop Nexus affiliated companies (including, but not limited to, affiliates, subsidiaries and our parent companies) who may use your personal information for any legal purposes whatsoever.
                        
                        We also may disclose personal information about you upon request by the government; in response to a court order; when required by law or when we believe in good faith is required by law; to enforce our Privacy Policy, terms and conditions or other agreements on this Website; upon your request; or to contact, identify or bring legal action against someone who may be causing injury to or interference with our or others. rights or property. We may also share information with companies assisting in fraud protection or investigation. We do not provide information to these agencies or companies for marketing purposes.
                        
                        We may also provide aggregated, non-personally identifiable information to third parties for any legal purposes whatsoever.
                        
                        <h4>Protecting Your Information</h4>
                        
                        We use commercially reasonable efforts to safeguard and secure your personal information while stored on our computer systems. We use a variety of industry standard security measures, including encryption and authentication tools, to maintain the confidentiality of your personal information. Your personal information is stored behind industry standard firewalls and is only accessible by a limited number of persons who are authorized to access such systems, and are required to keep the information confidential. Regardless of these efforts by us, no system connected to the internet can be guaranteed to be 100% secure.
                        
                        We use commercially reasonable efforts to safeguard and secure the transmission of your personal information from your computer to our computers. When you place orders or access your personal information, we offer the use of a secure server. To the extent you select the secure server method and your browser supports such functionality, all credit card information you supply is transmitted via Secure Socket Layer (SSL) technology. Regardless of these efforts by us, no data transmission over the public Internet can be guaranteed to be 100% secure.
                        
                        To help protect your computer and personal information, make sure you have current anti-virus and firewall software installed on your computer and update such software on a regular basis. Also, please review your credit card statement carefully and verify that all transactions are authorized and report any discrepancies immediately to your credit card company.
                        
                        <h4>Cookies</h4>
                        
                        This Website uses cookies. A cookie is a small, removable data file that is stored by your web browser on your computer. Cookies allow you to place an order on this Website and allow us to enhance, facilitate and personalize your online surfing and shopping experience. For example, we use cookies to:
                        
                            * Remember the items in your Shopping Basket;<br>
                            * Recognize you when you return to this Website;<br>
                            * Remember your stored preferences on this Website;<br>
                            * Enable you to use our one-click checkout;<br>
                            * Present relevant content to you when you visit this Website;<br>
                            * Analyze visitor behavior; and<br>
                            * Facilitate other similar type of activities.<br>
                        <br>

                        You can choose to have your computer warn you each time a cookie is being sent or you can choose to turn off all cookies. You do this through your web browser settings. If you turn cookies off, you won't have access to many features that make your visit to this Website more efficient and enjoyable, and in some cases, some of our services will not function or will function with limited capability.
                        
                        <h4>Children's Online Privacy</h4>
                        
                        We do not knowingly collect personal information from children under the age of 18. This Website is not intended to solicit information of any kind from children under the age of 18 and we have made commercially reasonable efforts to design this Website to prevent our knowing acceptance of any such information.
                        
                        It is possible that by fraud, deception or error, we may receive information pertaining to children under the age of 18. If we are notified of this, as soon as we verify the information, we will immediately obtain parental consent or otherwise delete the information from our servers. If you want to notify us of our receipt of personal information belonging to a child under the age of 18, please do so with our <a href="//www.desktopnexus.com/contact/">contact form</a>.
                        
                        <h4>Email Marketing Practices</h4>
                        
                        When you submit any personal information, you understand and agree that Desktop Nexus, its partners, and affiliates may access, store, and use your customer profile in any of the countries in which Desktop Nexus and its affiliates provide services, including without limitation the United States. We collect this information for a variety of reasons, including Desktop Nexus's effort to inform you of new products, special offers, and other products and services from Desktop Nexus. Desktop Nexus recognizes and appreciates the importance of responsible use of the information you choose to provide. Desktop Nexus may selectively provide certain information to other companies or organizations whose products or services we think may interest you.
                        
                        Desktop Nexus and its partners may often sponsor contests that you can enter. Your participation in these contests is entirely optional. Desktop Nexus may also conduct surveys online, via e-mail, or by telephone. Your participation in these surveys is entirely optional. Survey participants are anonymous unless otherwise stated in the survey. 
                        
                        <h4>Chat Rooms and Forums</h4>
                        
                        This Website may now or in the future include web logs (i.e., blogs), chat rooms, post-it boards, forums, message boards, and/or news groups. Any information that is disclosed in these areas becomes public information. You should exercise caution before disclosing your personal information via these public venues, which you do at your own risk. If you do so, you may receive, among other things, unsolicited emails or "spam" from others. Desktop Nexus cannot safeguard the privacy of personal information that is disclosed online in this manner.
                        
                        <h4>Other Websites</h4>
                        
                        When browsing this Website, you may be directed to other websites that are beyond our control. These other websites may use cookies and pixel tags, collect data, or solicit personal information. Even though Desktop Nexus may be affiliated with these websites, we have no control over them or how they collect, distribute or otherwise use your personal information or how they safeguard and secure your personal information. Desktop Nexus is not responsible or liable for the conduct, policies or actions of the owners of such websites or the content displayed on these websites. These websites are linked to this Website only for your convenience and you access them at your own risk.
                        
                        <h4>Unsubscribing, Removing or Modifying Your Information</h4>
                        
                        We want to communicate with you only if you want to hear from us.
                        
                        To modify or delete any or all of the personal information you have provided to us, please login and update your profile.
                        
                        You may unsubscribe from receiving emails, and other correspondence from us including, but not limited to, faxes and U.S. postal service mail, at any time by using the unsubscribe link, or by contacting us using the information, included at the bottom of each email communication.
                        
                        In some limited circumstances, such as to resolve disputes, troubleshoot problems and enforce our Terms of Use Agreement, we may retain in our files information you have requested to remove. Further, your personal information is never completely removed from our databases due to technical constraints and the fact that we back up our systems. Therefore, you should not expect that all of your personal information will be completely removed from our databases in response to your requests.
                        
                        We reserve the right to send you certain communications related to this Website that are considered part of your account, such as technical alerts, without offering you the opportunity to opt out of receiving them.
                        
                        <h4>Terms and Conditions of Use</h4>
                        
                        Desktop Nexus has a Terms and Conditions of Use Agreement that sets forth the terms and conditions under which we provide products, services and information to you from this Website, and your use of, and access to, this Website. It is your responsibility to read, understand and comply with the terms and conditions set forth therein. That agreement can be found at <a href="//www.desktopnexus.com/tos/">www.desktopnexus.com/tos/</a>.
                        
                        <h4>Questions and Feedback</h4>
                        
                        We welcome your questions, comments, and concerns about this Privacy Policy and our privacy practices. Please send us feedback pertaining to these matters or any other issue you may have with Desktop Nexus or this Website.
                        
                        You may contact us using the contact form located at <a href="//www.desktopnexus.com/contact/">www.desktopnexus.com/contact/</a>.

                    </div>
                </div>
                <!--/.body-content-->
            </div>
        </div>
    </div>
    <!--/.main-container-->
    
<app-footer></app-footer>
    <!-- /.graphic-footer -->
    
</div>
<!--/#page-->

<!-- Message Box -->
<div class="modal fade msg-box" id="MessageBox" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="msg-inbox conv-activity" style="display:block">
            <div class="flexbox-parent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <button type="button" class="btn-conv" title="New Message"></button>
                </div>
                <div class="fill-area flexbox-item-grow">
                    <div class="fill-area-content">
                        <div class="flexbox-scroll">
                            <div class="msg-conversations">
                              <ul>
                                  <li>
                                      <div class="conv-item unread clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-05.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum. Lacinia arcu ut, porta neque elementum lorem eros...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">North Hero</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item unread clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-02.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Robert Lee</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum. Lacinia arcu ut...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-05.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum. Lacinia arcu ut, porta neque elementum lorem eros...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item unread clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item unread clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-02.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra...</p>
                                        </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="conv-item clearfix">
                                          <div class="conv-thumb">
                                              <a href="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="msg-header clearfix">
                                            <div class="msg-author-info">
                                                <span class="msg-name">Stupid Monkey</span>
                                            </div>
                                            <div class="msg-meta">
                                                <span class="msg-time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                            </div>
                                        </div>
                                        <div class="conv-snippet">
                                            <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum. Lacinia arcu ut...</p>
                                        </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.msg-inbox-->
        <div class="msg-write conv-activity" style="display:none">
            <div class="flexbox-parent">
                <div class="modal-header">
                    <a href="#" class="conv-back"></a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="fill-area flexbox-item-grow user-list-box">
                   <div class="fill-area-content">
                       <label class="control-label">Send message to:</label>
                       <div class="form-group find-user-drop">
                        <input type="text" class="form-control">
                       </div>
                       <label class="control-label">Recent</label>
                   </div>
               </div>
               <div class="fill-area flexbox-item-grow">
                    <div class="fill-area-content">
                        <div class="flexbox-scroll">
                            <div class="user-drop-list">
                   
                   <div class="list-block">
                       <ul>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-01.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-02.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-03.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-04.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-05.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-01.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-02.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                          <li>
                              <div class="user-row">
                                  <div class="user-thumb">
                                      <img src="assets/images/user-03.jpg" alt="">
                                  </div>
                                  <div class="user-name">Stupid Monkey</div>
                              </div>
                          </li>
                       </ul>
                   </div>
               </div>
                        </div>
                    </div>
                </div>
                <div class="flexbox-footer">
                    <div class="msg-go-next text-right">
                       <button type="button" class="btn btn-primary">Next</button>
                   </div>
                </div>
            </div>
        </div>
        <!--/.msg-write-->
        <div class="chat-area conv-activity" style="display:none">
            <div class="flexbox-parent">
                <div class="modal-header">
            <a href="#" class="conv-back"></a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="header-thumb-area">
                <div class="user-row">
                  <div class="user-thumb imageFit">
                      <img src="assets/images/user-01.jpg" alt="">
                  </div>
                  <div class="user-name">Stupid Monkey</div>
                  <div class="user-action">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Report"><i class="fa fa-flag-o"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Block"><i class="fa fa-ban"></i></a>
                </div>
              </div>
            </div>
          </div>
                <div class="fill-area flexbox-item-grow">
                    <div class="fill-area-content">
                        <div class="flexbox-scroll">
                            <div class="chat-window">
                              <div class="inner-chat">
                                  <div class="chat-row send">
                                      <div class="chat-body">
                                          <div class="chat-txt">
                                              <p>Beautiful photo aliquam eu augue pharetra, lacinia arcu ut, porta neque elementum lorem eros, ac pretium ex vestibulum.</p>
                                          </div>
                                          <div class="chat-thumb">
                                              <a hrrf="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row received">
                                      <div class="chat-body">
                                         <div class="chat-thumb">
                                              <a hrrf="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="chat-txt">
                                              <p>Beautiful photo aliquam eu augue pharetra...</p>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row send">
                                      <div class="chat-body">
                                          <div class="chat-txt">
                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin libero enim, luctus ac ante at, porta egestas sem. Curabitur laoreet ut sem at rhoncus. Duis ac malesuada mauris. Praesent quam nunc, tempus in mauris at, posuere lacinia neque.</p>
                                          </div>
                                          <div class="chat-thumb">
                                              <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row received">
                                      <div class="chat-body">
                                         <div class="chat-thumb">
                                              <a hrrf="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="chat-txt">
                                              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla id diam id odio dictum efficitur. Cras ac eros massa. Duis purus libero, dapibus vitae sollicitudin quis, pellentesque id lacus. Quisque tempus tellus vitae elit efficitur elementum. Quisque lacinia mattis ante ut volutpat. Donec dignissim nisl eros, non consequat odio rutrum lobortis. Integer vitae pretium quam.</p>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row send">
                                      <div class="chat-body">
                                          <div class="chat-txt">
                                              <p>Nunc auctor imperdiet urna, eget ullamcorper elit ultricies finibus.</p>
                                          </div>
                                          <div class="chat-thumb">
                                              <a href="#"><img src="assets/images/user-01.jpg" alt=""></a>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                                  <div class="chat-row received">
                                      <div class="chat-body">
                                         <div class="chat-thumb">
                                              <a hrrf="#"><img src="assets/images/user-03.jpg" alt=""></a>
                                          </div>
                                          <div class="chat-txt">
                                              <p>Vestibulum arcu libero, convallis nec purus nec, posuere laoreet justo. Phasellus ac nulla pellentesque, commodo dui id, aliquam erat. Ut fermentum luctus ipsum sit amet vehicula.</p>
                                          </div>
                                      </div>
                                      <div class="chat-footer">
                                          20h
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="flexbox-footer">
                    <div class="msg-go-next text-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="st-txtbox">
                                    <span class="cmt-attached-sticker">
                                        <span class="st-img"></span>
                                        <span class="st-clear" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times-circle"></i></span>
                                    </span>
                                    <textarea class="form-control chat-txtarea"></textarea>
                                </div>
                                <span class="attach-icons">
                                    <a href="#"><i class="fa fa-diamond" data-toggle="tooltip" data-placement="top" title="Attach Diamonds"></i></a>
                                    <a href="#" data-toggle="modal" data-target="#AttachSticker" class="msg-ath-st"><i class="fa fa-sun-o" data-toggle="tooltip" data-placement="top" title="Attach a Sticker"></i></a>
                                </span>
                                <button type="button" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <!--/.chat-area-->
    </div>
  </div>
</div>
<!-- // Message Box -->

<!-- Buy Sticker Modal -->
<div class="modal fade tip-modal" id="BuySticker" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="tip-icon"></span>
            <h4 class="modal-title">Buy More Diamonds!</h4>
          </div>
          <div class="modal-body">
            <div class="price-checkbox">
                <div class="check-block">
                    <label>
                        <input type="radio" name="diamondprice">
                        <div class="label-txt">
                            <span class="dia"><strong>125</strong> diamonds</span>
                            <span class="dm-more"><span>34%</span>More</span>
                            <span class="price">$9.99</span>
                        </div>
                    </label>
                </div>
                <div class="check-block">
                    <label>
                        <input type="radio" name="diamondprice" checked="">
                        <div class="label-txt">
                            <span class="dia"><strong>325</strong> diamonds</span>
                            <span class="dm-more"><span>30%</span>More</span>
                            <span class="price">$19.99</span>
                        </div>
                    </label>
                </div>
                <div class="check-block">
                    <span class="popu-tag"></span>
                    <label>
                        <input type="radio" name="diamondprice">
                        <div class="label-txt">
                            <span class="dia"><strong>1000</strong> diamonds</span>
                            <span class="dm-more"><span>50%</span>More</span>
                            <span class="price">$49.99</span>
                        </div>
                    </label>
                </div>
                <div class="check-block">
                    <label>
                        <input type="radio" name="diamondprice">
                        <div class="label-txt">
                            <span class="dia"><strong>2500</strong> diamonds</span>
                            <span class="dm-more"><span>20%</span>More</span>
                            <span class="price">$99.99</span>
                        </div>
                    </label>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
                <div class="col-xs-7">
                    <div class="paypal-logo">
                        <img src="assets/images/paypal-logo.png" alt="">
                    </div>
                </div>
                <div class="col-xs-5">
                    <button type="button" class="btn btn-success btn-lg btn-block">Pay Now!</button>
                </div>
            </div>
        </div>
        <div class="tip-info text-center">
            <p>Diamonds can be purchased or <a href="cms.html" target="_blank">earned</a>. No cash value. No refunds.</p>
        </div>
    </div>
  </div>
</div>
<!-- // Buy Sticker Modal -->

<!-- Attach Sticker -->
<div class="modal fade modal-sticker" id="AttachSticker" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Your Sticker Collection</h4>
      </div>
      <div class="st-header text-center">
          <h3>You own 74 stickers!</h3>
          <p>3/48 completed sheets</p>
      </div>
      <!-- Sticker tabs -->
      <div class="sticker-tab-panel">
         <div class="st-block">
            
            <div class="st-recent-box">
                <div class="box-heading"><span class="text-uppercase">Recent</span></div>
                <div class="st-recent-listing">
                    <ul class="st-recent-ul">
                        <li>
                            <div class="badge-block">
                                <div class="sticker-01 st-4-msg">
                                    <img src="assets/images/sticker-01.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-02 st-4-msg">
                                    <img src="assets/images/sticker-02.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-03 st-4-msg">
                                    <img src="assets/images/sticker-03.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-01 st-4-msg">
                                    <img src="assets/images/sticker-01.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-02 st-4-msg">
                                    <img src="assets/images/sticker-02.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-03 st-4-msg">
                                    <img src="assets/images/sticker-03.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-01 st-4-msg">
                                    <img src="assets/images/sticker-01.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-02 st-4-msg">
                                    <img src="assets/images/sticker-02.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-block">
                                <div class="sticker-03 st-4-msg">
                                    <img src="assets/images/sticker-03.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
             <div class="sticker-list">
                <ul class="list-group clearfix">
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-01.png" alt="">
                            </div>
                            <span class="st-counter">7/85</span>
                        </div>
                        <div class="st-title">Sheet Title 1</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-02.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Amet porttitor nec massa</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-03.png" alt="">
                            </div>
                            <span class="st-counter">4/12</span>
                        </div>
                        <div class="st-title">Sheet Title 3</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-01.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 4</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-02.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 5</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-03.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 6</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-01.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 7</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-02.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 8</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-03.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 9</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-01.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 10</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-02.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 11</div>
                    </li>
                    <li>
                        <div class="st-frame-outer">
                            <div class="sticker-box">
                                <img src="assets/images/sticker-03.png" alt="">
                            </div>
                            <span class="st-counter">15/54</span>
                        </div>
                        <div class="st-title">Sheet Title 12</div>
                    </li>
                </ul>
            </div>
         </div>
          
        <div class="st-block">
            <div class="st-single-block">
                <div class="st-breadcrumb">
                    <span class="st-back"><i class="fa fa-angle-left"></i> Back</span>
                    <h4 class="st-single-title">Sheet Title</h4>
                </div>
                <div class="sticker-list">
                <ul class="list-single clearfix">
                    <li>
                        <div class="sticker-box st-4-msg">
                            <img src="assets/images/sticker-01.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-4-msg">
                            <img src="assets/images/sticker-02.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-4-msg">
                            <img src="assets/images/sticker-03.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-gray st-store-link">
                            <img src="assets/images/sticker-01.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-gray st-store-link">
                            <img src="assets/images/sticker-02.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="sticker-box st-gray st-store-link">
                            <img src="assets/images/sticker-03.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
      </div>
      <!-- // Sticker tabs -->

      <div class="st-store-pop">
          <div class="row">
              <div class="col-sm-8">
                  <div class="store-msg">Visit the store to get more stickers?</div>
              </div>
              <div class="col-sm-4">
                <div class="store-btns">
                  <a href="#" class="btn btn-default btn-st-cancel">No</a>
                  <a href="#" class="btn btn-success" target="_blank">Yes</a>
                </div>
              </div>
          </div>
      </div>

      <div class="modal-footer">
       <div class="row">
           <div class="col-xs-6 text-left">
               <a href="#" class="btn btn-primary" target="_blank">Get More Stickers</a>
           </div>
           <div class="col-xs-6 text-right">
               <button type="button" class="btn btn-success st-attach-btn"><i class="fa fa-paperclip" style="margin-right:3px"></i> Attach</button>
           </div>
       </div>
      </div>
    </div>
  </div>
</div>
<!-- // Attach Sticker -->